$primary: #7952b3;
$secondary: #ffc107b1;
$success: #91c483;
$gray: #8d8d8d;
$light: #f7f7f7;
$bg-color: #3333b26a;
$dark: #343A40;
$white: #fff;


a {
  color: rgb(131, 128, 128) !important;
  text-decoration: none !important;
}
.row-fluid a {
  padding: 1em;
}
